{% extends "base.html" %} {% load static %} {% block content %}

<body>
    <section class="gile fullscreen align-left">
        <div class="spotlight fullscreen align-left">
            <div dir="rtl" class="flex">
                <img class="image1" src="{% static 'careu/asset.png' %}" />
                <div dir="ltr" class="info">
                    <h1 class="heading">Making Your <br>World Better!</h1><br>
                    <!-- <h2>Login</h2> -->
                    <br>

                    <div id="container" class="text-light">
                        <form style="border-radius: 10px;z-index: 4;box-shadow: 10px 10px 10px #00000024;" method="POST" action="{% url 'login_view' %}" class="login-form bg-dark rounded-lg d-flex flex-column justify-content-center p-4">
                            
                            <h3 style="font-weight: bold;" class="mb-3 text-center text-light">Login here!</h3>
                            <br>
                            {% csrf_token %} 
                            {% for field in login_form %}
                            <div class="form-group {% if field.errors %}has-error{% endif %}" id="group_{{ field.name }}">
                                <label for="id_{{ field.name }}" class="control-label">{{ field.label }}</label>
                                <div style="display: flex;position: relative;" class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="basic-addon1"><i class="fa {% if field.label == 'Password'  %} fa-lock {% else %} fa-user {% endif %}"></i></span>
                                    </div>
                                    {{ field }}
                                </div>
                            </div>
                            {% endfor %}
                            {% if error %}
                            <p style="font-size: 12px;" class="text-center text-danger">{{error}}</p>
                            {% endif %}
                            <!-- {{login_form}} -->
                            <button id="btn_login" type="submit" class="btn btn-warning mb-3">Login</button>
                            <p style="font-size: 12px;text-align: center;">Don't have an account? <a class="text-warning" href="{% url 'register_view' %}"> Register here</a></p>
                        </form>

                    </div>

                </div>

            </div>
            <div class="quotes">
                <h3 style="font-size: 12px;text-align: center;display: inline-block;">“There’s nothing that can stop this man”</h3>
                <h3 style="font-size: 16px;font-weight: bold;display: block;">Adam Levine</h3>
            </div>
            <br>


    </section>

</body>
{% endblock content %}