 
body {
    background: #fafafa;
    color: #333333;
    margin-top: 5rem;
    font-family: 'Poppins';
  }
  
  h1, h2 {
    color: #101010;
    font-weight: bold;
    font-family: 'Poppins'; 
    
  }

  h1{
    font-size: 50px;
  }

  h3, h4, h5, h6 {
    color: #444444;
    font-family: 'Poppins';

  }

  
  ul {
    margin: 0;
  }
  
  .bg-steel {
    background-color: #5f788a;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #222222;
    transform: 0.3s;
  }

  .navbar-toggler {
		color: black;
		/* background-color: #fff; */
		border-color: black;
  }
  
  
  
  .site-header .navbar-nav .nav-link:hover {
    color: #D34F81;
    transform: 0.3s;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 600;
    color: #D34F81;
    transform: 0.3s;
  }
  .site-header .navbar-nav {
    /* background-color: black; */
  }
  .content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #428bca;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }