{% extends "base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="content-section">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Blog Post</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info {% if not request.user.is_authenticated %}disabled{% endif %}" type="submit">Post</button>
        </div>
    </form>
</div>
{% endblock content %}