{% load static %} {% url 'home-base' as home %} {% url 'team-base' as team %} {% url 'journal-home' as journal %} {% url 'login_view' as login %} {% url 'logout_view' as logout %}



<!DOCTYPE html>
<html>

<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- materialized form -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.1/css/materialize.min.css" integrity="sha256-qj3p6P1fJIV+Ndv7RW1ovZI2UhOuboj9GcODzcNFIN8=" crossorigin="anonymous" /> -->


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">



    <link rel="stylesheet" type="text/css" href="{% static 'careu/main.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'careu/fauzi.css' %}" />
    <link rel="stylesheet/less" type="text/css" href="styles.less" />
    <script src="https://apps.elfsight.com/p/platform.js" defer></script>


    <title>CareU. </title>

    <link href='https://fonts.googleapis.com/css?family=Poppins:bold,normal' rel='stylesheet'>
    <script>
        function topFunction() {
            window.scrollBy(0, 700);
        }

        function downFunction() {
            window.scrollBy(0, -700);
        }
    </script>
</head>

<body>

    <header style="background-color: white;color: #fff;" class="site-header fixed-top">
        <nav style="align-items: center;box-shadow: 0px 5px 10px #00000024;" class="navbar navbar-expand-sm fixed-top bg-light">
            <div style="align-items: center;" class="container">
                <a class="navbar-brand mr-4" href="{% url 'home-base' %}">CareU.</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="true" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon icon-bar" ></span>
          </button>
                <div class="collapse navbar-collapse" id="navbarToggle">
                    <div class="navbar-nav mr-auto">
                        <a class="nav-item nav-link {% if request.path == home %} active {% endif %}" href="{{ home }}">Home</a>
                        <a class="nav-item nav-link {% if request.path == team %} active {% endif %}" href="{{ team }}">Our Team</a>
                        <a class="nav-item nav-link {% if request.path == journal %} active {% endif %}" href="{{ journal }}">My Journal</a>
                    
                    </div>
                    <div class="navbar-nav mr">
                        {% if not request.user.is_authenticated %}
                        <a class="nav-item nav-link {% if request.path == login %} active {% endif %}" href="{{ login }}">Login</a> {% endif %} {% if request.user.is_authenticated %}
                        <a class="nav-item nav-link" href="/profile/{{user.username}}">{{user.username}}</a>
                        <a class="nav-item nav-link {% if request.path == logout %} active {% endif %}" href="{{ logout }}">Logout</a> {% endif %}
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="koko">
        {% block content %}{% endblock %}
    </div>
    <script type="text/javascript" src="{% static 'careu/login.js' %}"></script>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <a id="myTopBtn" onclick="downFunction()" class="float-btn float-btn-right">
        <i class="fa fa-arrow-up float-icon"></i>
    </a>

    <a id="myDownBtn" onclick="topFunction()" class="float-btn float-btn-left">
        <i class="fa fa-arrow-down float-icon"></i>
    </a>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $("#username_id").on("keyup", function() {
            console.log("mantap");
        var value = $(this).val().toLowerCase();
        $.ajax({
            type:"GET",
            url: "{% url 'validate_username' %}",
            dataType : 'json',
            data: {
                            'username': value
                        },
            success:function(response)
            {   
                if(response.length > 7) {
                    console.log(response)
                    $('#error_msg').css('font-size', '10px')
                    if (response.is_exist) {
                        $('#error_msg').html(response.error_message)
                        $('#error_msg').css('display', 'flex')
                        $('#error_msg').css('color', 'red')
                        $('#error_msg').css('font-size', '10px')
                        $('#btn_register').attr('disabled', true);
                    } else {
                        $('#error_msg').html(response.error_message)
                        $('#error_msg').css('display', 'flex')
                        $('#error_msg').css('color', 'green')
                        $('#btn_register').attr('disabled', false);
                        
                    }
                } else {
                    $('#error_msg').html(response.error_message)
                    $('#error_msg').css('display', 'flex')
                    $('#error_msg').css('color', 'red')
                    $('#error_msg').css('font-size', '10px')
                    $('#btn_register').attr('disabled', true);
                }
                

                console.log(response.is_exist);
            }
        });
      });
    
      $("#password2").on("keyup", function() {
        var value1 = $("#password1").val().toLowerCase();
        var value2 = $(this).val().toLowerCase();
        $.ajax({
            type:"GET",
            url: "{% url 'validate_password' %}",
            dataType : 'json',
            data: {
                            'password1': value1,
                            'password2': value2,
                        },
            success:function(response)
            {   
                if(response.length > 7) {
                    console.log(response)
                    $('#error_msg2').css('font-size', '10px')
                    if (response.is_match) {
                        $('#error_msg2').css('display', 'none')
                        $('#btn_register').attr('disabled', false);
                    } else {
                        $('#error_msg2').html(response.error_message)
                        $('#error_msg2').css('display', 'flex')
                        $('#error_msg2').css('color', 'red')
                        $('#error_msg2').css('font-size', '10px')
                        $('#btn_register').attr('disabled', true);
                    }
                } else {
                    $('#error_msg2').html(response.error_message)
                    $('#error_msg2').css('display', 'flex')
                    $('#error_msg2').css('color', 'red')
                    $('#error_msg2').css('font-size', '10px')
                    $('#btn_register').attr('disabled', true);
                }
                

                console.log(response.is_exist);
            }
        });
      });
    
    
    </script>
    <script>
        
        function myFunction(param1, param2, param3, param4) {

            // var url = "/static/"+param2;
            var x = `<img style='width: 30%;height: 30%;' src='/static/${param2}' />`;
            document.getElementById("gambar").innerHTML = x;
            // var z = "";
            // for (i = 0; i < param3.length; i++) { 
            //   z += `<p class='title'>${param3[i].name}</p> <p class='desc'>${param3[i].desc}</p>`;
            // } 
            document.getElementById("symptoms").innerHTML = param3;
            document.getElementById("desctom").innerHTML = param4;
            document.getElementById("exampleModalLongTitle").innerHTML = param1 + " Symptom";

        }
        $('#myModal').on('shown.bs.modal', function() {
            $('#myInput').trigger('focus')
        })
        $(document).ready(function() {

            // Initialize materialize data picker
            $('.datepicker').datepicker({
                'format': 'yyyy-mm-dd'
            });
            $('select').formSelect();

        });
    </script>
</body>

</html>
