{% extends "base.html" %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<body>


      <main role="main" class="container">
        <div class="row">
          <div class="col-md-8">
              {% if messages %}
                {% for messages in messages %}
                    <div class="alert alert-{{ messages.tags }}">
                        {{ messages }}
                    </div>
                {% endfor %}
              {% endif %}
              {% for post in posts %}
              <article class="media content-section">
                  <div class="media-body">
                  <div class="article-metadata">
                      <a class="mr-2" href="#">{{ post.author }}</a>
                      <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                  </div>
                  <h2><a class="article-title" href="{% url 'journal-detail' post.id %}">{{ post.title }}</a></h2>
                  <p class="article-content">{{ post.content }}</p>
                  </div>
              </article>
          {% endfor %}
          <a href="{% url 'journal-create' %}">
            <div id="container">
                <button class="learn-more">
        <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
        </span>
        <span class="button-text">Add Post</span>
      </button>
            </div>
        </a>
          </div>
          <div class="col-md-4">
            <div class="content-section">
              <h3>Our Sidebar</h3>
              <p class='text-muted'>You can put any information here you'd like.
                <ul class="list-group">
                  <li class="list-group-item list-group-item-light">Latest Posts</li>
                  <li class="list-group-item list-group-item-light">Announcements</li>
                  <li class="list-group-item list-group-item-light">Calendars</li>
                  <li class="list-group-item list-group-item-light">etc</li>
                </ul>
              </p>
            </div>
          </div>
        </div>
      </main>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>
{% endblock content %}